global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'node_exporter'
    static_configs:
      - targets: ['node_exporter:9100']

  - job_name: '${APP_NAME}_backend_metrics'
    static_configs:
      - targets: ['url-shortener-backend:9100']

  - job_name: 'blackbox_http_check'
    metrics_path: /probe
    params:
      module: [http_2xx]

    static_configs:
      - targets:
          - http://url-shortener-frontend:80

    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox:9115

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
